/* FUENTES */
h1 {
  font-family: "Caveat", cursive;
  font-size: 6rem;
  color: #000000;
  padding: 2rem;
}

h2 {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  color: #000000;
  margin-top: 1rem;
}

h3 {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: #522323;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

/* CIERRE DE FUENTES */
/* BARRA DE NAVEGACION */
nav {
  background-color: #fffff2;
  color: #c63637;
  position: fixed;
  z-index: 100;
}

nav .nav1 {
  grid-area: nav1;
}

nav .nav1:hover {
  -webkit-animation-name: izquierda;
          animation-name: izquierda;
  position: relative;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes izquierda {
  0% {
    left: 0px;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 10px;
    opacity: 0.8;
  }
  100% {
    left: 0px;
  }
}

@keyframes izquierda {
  0% {
    left: 0px;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 10px;
    opacity: 0.8;
  }
  100% {
    left: 0px;
  }
}

nav .nav2 {
  grid-area: nav2;
  gap: 20px;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  display: block;
}

nav ul li:hover ul {
  display: block;
  background-color: snow;
}

nav ul a {
  color: black;
  text-decoration: none;
  margin: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

nav ul a:hover {
  color: #c22f28;
  font-weight: bold;
}

nav ul ul {
  position: absolute;
  display: none;
}

.titulo2 {
  display: none;
}

/* QUIENES SOMOS */
.sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 2rem 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nosotros {
  width: 40%;
  color: white;
  text-align: center;
  background-color: #000000;
  padding: 1rem;
}

.imagenes2 {
  width: 500px;
  height: 250px;
}

/* QUE NOS DIFERENCIA */
.sec2 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d8b6a4;
  height: 430px;
  padding: 1rem;
  margin: 20px auto;
}

.diferencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0rem;
  text-align: center;
  font-family: "Caveat", cursive;
  color: #000000;
  font-size: 2rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.diferencias img {
  width: 150px;
  height: 150px;
  border: none;
  padding-top: 30px;
}

/* NUESTROS TRABAJOS */
.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.trabajos img {
  width: 300px;
  height: 400px;
  margin: 1.8rem;
  opacity: 0.8;
  border-radius: 20px;
}

.trabajos img:hover {
  opacity: 2;
  border: solid white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* SERVICIOS */
.fondo-servicios {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8dede), color-stop(#f0e4de), to(#f8dede));
  background: linear-gradient(#f8dede, #f0e4de, #f8dede);
}

.servicios {
  width: 90%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 30%;
      grid-template-columns: 50% 30%;
  -ms-grid-rows: repeat 4, 1fr 2fr;
      grid-template-rows: repeat 4, 1fr 2fr;
      grid-template-areas: "titulo1 titulo1" "parrafo1 img1" "titulo3 titulo3" "parrafo3 img3" "titulo4 titulo4" "parrafo4 img4" "titulo5 titulo5" "parrafo5 img5";
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.servicios .titulo1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo1;
  margin-top: 20px;
}

.servicios .parrafo1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: parrafo1;
}

.servicios .img1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img1;
}

.servicios .titulo2 {
  grid-area: titulo2;
  margin-top: 20px;
}

.servicios .parrafo2 {
  grid-area: parrafo2;
}

.servicios .img2 {
  grid-area: img2;
}

.servicios .titulo3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo3;
  margin-top: 20px;
}

.servicios .parrafo3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: parrafo3;
}

.servicios .img3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img3;
}

.servicios .titulo4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo4;
  margin-top: 20px;
}

.servicios .parrafo4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: parrafo4;
}

.servicios .img4 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: img4;
}

.servicios .titulo5 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo5;
}

.servicios .parrafo5 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: parrafo5;
}

.servicios .img5 {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: img5;
}

.servicios img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

/* CONTACTO */
.fondo {
  background-color: black;
  background-image: url("../assets/Multimedia/fondo contacto3.png");
  background-repeat: repeat;
}

.fondo form {
  border: 2px white solid;
  padding: 3%;
  font-family: "Caveat", cursive;
  font-size: 23px;
}

@media screen and (max-width: 500px) {
  .fondo .botones {
    margin: 20px auto;
  }
  .fondo .botones .borrar,
  .fondo .botones .enviar {
    padding: 5px 30px;
  }
}

@media screen and (max-width: 1100px) {
  .fondo .borrar,
  .fondo .enviar {
    padding: 5px 50px;
  }
}

/*****************MEDIA QUERRIES TABLET**************************/
@media screen and (max-width: 1100px) {
  /* FUENTES */
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
  }
  /* NAVEGACION */
  nav a {
    margin: 8px;
  }
  nav .nav2 {
    grid-area: nav2;
    margin: 5px;
    font-size: 17px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* ENCABEZADO */
  .titulo {
    height: 60%;
    width: 100%;
  }
  /* QUIENES SOMOS */
  .sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nosotros {
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 1rem;
  }
  .imagenes2 {
    width: 400px;
    height: 250px;
    margin-top: 30px;
    margin: 20px auto;
  }
  /* QUE NOS DIFERENCIA */
  .sec2 {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 1rem;
    margin: 4% auto;
  }
  .diferencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .diferencias img {
    width: 200px;
    height: 230px;
    border: none;
    padding-top: 50px;
  }
  /* NUESTROS TRABAJOS */
  .sec3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat 2, 1fr;
        grid-template-columns: repeat 2, 1fr;
    -ms-grid-rows: repeat 5, 1fr;
        grid-template-rows: repeat 5, 1fr;
        grid-template-areas: "cero uno " "dos tres" "cuatro cinco" "seis siete" "ocho ocho";
    justify-items: center;
  }
  .sec3 .cero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cero;
  }
  .sec3 .uno {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: uno;
  }
  .sec3 .dos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: dos;
  }
  .sec3 .tres {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tres;
  }
  .sec3 .cuatro {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: cuatro;
  }
  .sec3 .cinco {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: cinco;
  }
  .sec3 .seis {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: seis;
  }
  .sec3 .siete {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: siete;
  }
  .sec3 .ocho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: ocho;
  }
  .trabajos img {
    width: 200px;
    height: 300px;
    margin: 10px;
    opacity: 0.8;
    border-radius: 20px;
  }
  /* FOOTER */
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #771212;
    height: auto;
  }
  .logo-footer {
    width: 95px;
    margin-bottom: 5px;
  }
  /* SERVICIOS */
  .servicios {
    width: 90%;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .servicios img {
    width: 80%;
    height: 40%;
    border-radius: 10%;
  }
  .servicios h3 {
    padding-top: 30px;
  }
  /* CONTACTO */
  form div {
    margin: 40px;
    font-family: "Caveat", cursive;
    font-size: 1.2rem;
  }
  .contacto h3 {
    font-size: 20px;
  }
}

/*****************MEDIA QUERRIES MOBILE**************************/
@media screen and (max-width: 550px) {
  /* FUENTES */
  h1 {
    font-size: 55px;
  }
  p {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
  }
  h2 {
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  h3 {
    font-size: 2rem;
    padding: 10px;
  }
  /* NAVEGACION */
  header {
    width: 100%;
  }
  nav .nav1 {
    padding-left: 20px;
  }
  nav .nav2 {
    font-size: 17.5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav a {
    margin: 3px;
  }
  /* ENCABEZADO */
  .nombre {
    height: 50%;
  }
  main .titulo {
    width: 100%;
    height: 80%;
  }
  /* QUIENES SOMOS */
  .sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  .sec2 {
    background-color: #f8dede;
  }
  .nosotros {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  .imagenes2 {
    width: 100%;
    height: 8%;
  }
  /* NUESTROS TRABAJOS */
  .sec3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5%;
  }
  .trabajos img {
    width: 90%;
    height: 80%;
    margin: 10px;
    opacity: 2;
    border-radius: 20px;
  }
  .trabajos img:hover {
    -webkit-transform: none;
            transform: none;
  }
  .dos {
    display: none;
  }
  /* FOOTER */
  footer h3 {
    font-size: 2rem;
  }
  /* SERVICIOS */
  table {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    border-collapse: separate;
    border-spacing: 10px;
  }
  .ser2 {
    background: #fdfdfd;
    padding: 6px 5%;
    text-align: center;
  }
  .ser2 h3 {
    margin-right: 10px;
  }
  td img {
    width: 150px;
    height: 120px;
    border: 2px dashed black;
    padding: 0.5rem;
    border-radius: 50%;
    margin-left: 0;
    -webkit-transition: none;
    transition: none;
  }
  td img:hover {
    width: 150px;
    height: 120px;
  }
}

/*****************FINAL MEDIA QUERRIES MOBILE**********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-align: center;
  background-color: #ffffff;
}

/* ENCABEZADO */
main .titulo {
  width: 100%;
  height: 40%;
}

main .nombre {
  background-color: #771212;
  margin: 0;
}

main .nombre h1 {
  color: #ffff;
}

main .slide2 {
  display: none;
}

@media screen and (max-width: 550px) {
  main .slide1 {
    display: none;
  }
  main .slide2 {
    display: block;
  }
}

/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #771212;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  margin-top: 7rem;
}

footer img {
  width: 60px;
  margin: 1rem 1rem;
}

footer h3 {
  color: #ffffff;
  margin-top: 30px;
}

footer .logo-footer:hover {
  -webkit-animation-name: izquierda;
          animation-name: izquierda;
  position: relative;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/*# sourceMappingURL=estilo.css.map */