/* CONTACTO */

.fondo {
  background-color: black;
  background-image: url("../assets/Multimedia/fondo\ contacto3.png");
  background-repeat: repeat;
  form {
    border: 2px white solid;
    padding: 3%;
    font-family: "Caveat", cursive;
    font-size: 23px;
  }
}
