/* CONTACTO */
.fondo {
  background-color: black;
  background-image: url(https://cdn.pixabay.com/photo/2019/12/03/07/34/gift-4669449_960_720.jpg);

  form {
    border: 2px white solid;
    padding: 3%;
    font-family: "Caveat", cursive;
    font-size: 23px;
  }
}
