/* QUIENES SOMOS */
.sec1 {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 6% 5%;
  margin-bottom: 8%;
}
h2 {
  margin-top: 3%;
}
.nosotros {
  width: 40%;
  color: #000000;
  text-align: start;
  font-weight: bold;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(255, 228, 196, 1) 39%
  );
  padding: 2%;
  border-radius: 10px;
  @media screen and (max-width: 550px) {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 2%,
      rgba(255, 241, 225, 1) 39%
    );
  }
}
.imagenes2 {
  width: 500px;
  height: 250px;
}

/* QUE NOS DIFERENCIA */
.sec2 {
  display: block;
  justify-content: center;

  background-color: #d8b6a4;
  padding: 1%;
  padding-bottom: 4%;
}
.diferencias {
  display: flex;
  justify-content: space-around;
  padding: 4%;
  margin: 0rem;
  text-align: center;
  font-family: "Caveat", cursive;
  color: #000000;
  font-size: 2rem;

  animation-duration: 2s;
  img {
    width: 150px;
    height: 150px;
    border: none;
    padding-top: 30px;
  }
}
