<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Servicios de love and gifts con la mayor variedad en regalos, cajas personalizadas, cestas, desayunos sorpresa y mucho mas">
        <meta name="keywords" content="regalo, cajas de regalo, comprar, cestas, regalos para novios, san valentin, desayunos sorpresa, aniversario, cumpleaños, delivery">
        <!-- fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- animaciones -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <!-- mi hoja de estilos -->
        <link rel="stylesheet" href="../css/estilo.css">

        <link rel="shortcut icon" href="../assets/Multimedia/lyg vino pequeño.png">
        <title>Servicios Love and gift</title>
  </head>
      
  <body class="fondo-servicios">
  <header class="sticky-top">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
      
              <a class="navbar-brand nav1" href="../index.html"><img  src="../assets/Multimedia/lyg vino grande.png" alt=""width="60px"></a>
      
             
      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
      
      
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                  <li class="nav-item px-3">
                    <a class=" active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item px-3">
                    <a class="" href="../index.html#nosotros">Nosotros</a>
                  </li>
                  <li class=" nav-item px-3">
                    <a class="" href="../index.html#nuestrosTrabajos">Nuestros trabajos</a> </li>
        
                  <li class="nav-item dropdown px-3">
                    <a class="dropdown-toggle" id="navbarDropdownMenuLink" role="buttom"  aria-expanded="false" href="./servicios.html">
                      Servicios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a   href="#servicio1">Servicio 1</a></li>
                      <li><a  href="#servicio2"> Servicio 2</a></li>
                      <li><a  href="#servicio3"> Servicio 3</a></li>
                      <li><a  href="#servicio4"> Servicio 4</a></li>
                    </ul>
                  </li>
                  <li class="nav-item px-3">
                    <a  href="../views/contacto.html">Contáctanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <h1 class=" wow animate__animated animate__backInLeft">
            Servicios
        </h1>
        
        <section>
          <div class="servicios">
        
            
            <div class="titulo1" > <h3 > Desayunos sorpresa</h3> </div>
                    
            <div class="parrafo1">
                <p > Los desayunos sorpresa incluyen una cesta decorada y personalizada con: </p>
                <li type="circle">Bebida caliente/Jugo/gaseosa</li>
                <li type="circle">Plato decorativo</li>
                <li type="circle">Carta personalizada</li>
                <li type="circle">Tazón de frutas</li>
                <li type="circle">Peluche a elección</li>
        
            </div>
    
            <div class="img1"><img src="../assets/Multimedia/Design sem nome (2).jpg" alt="desayuno sorpresa con rosas" ></div>
    
    
    
     
            <div class="titulo3"> <h3 class="mt-5 mb-4"> Detalles personalizados</h3> </div>
                    
            <div class="parrafo3">
                <p> Tenemos gran variedad de regalos personalizados para la fecha especial que desees </p> 
            </div>
    
            <div class="img3 row gap-3 justify-content-center ">
              <div class="card p-3" style="width: 18rem;">
                <img src="../assets/Multimedia/ramos.jpg" class="card-img-top" alt="ramo de flores con chocolates">
                <div class="card-body">
                  <h5 class="card-title">Ramos</h5>
                </div>
              </div>
              <div class="card p-3" style="width: 18rem;">
                <img src="../assets/Multimedia/cumpleaños2.png" class="card-img-top" alt="caja sorpresa de regalo">
                <div class="card-body">
                  <h5 class="card-title">Cajas sorpresa</h5>
                </div>
              </div>
              <div class="card p-3" style="width: 18rem;">
                <img src="../assets/Multimedia/canasta.jpg" class="card-img-top" alt="cesta de regalo">
                <div class="card-body">
                  <h5 class="card-title">Cestas</h5>
                </div>
              </div>

            </div>
            
            
    
            <div class="titulo4"> <h3 class="mt-5 mb-4"> Fiestas sorpresa</h3> </div>
                    
            <div class="parrafo4">
              <p>Regala un dia especial y comparte momentos inolvidables celebrando junto a tus seres queridos con nuestras fiestas sorpresa</p>
              <p> Organizamos, planificamos y decoramos tu fiesta con arreglos de globos incluyendo temáticas creativas y personalizadas según lo requiera la ocasión.
              </p>
              
            </div>
    
            <div class="img4"><img src="../assets/Multimedia/Design sem nome (3).jpg" alt="decoracion de fiesta sorpres de cumpleaños"></div>
            
    
            <div class="titulo5" > <h3 class="mt-5 mb-4"> Pidelos para cualquier ocasión</h3> </div>
                    
            <div class="parrafo5">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/fiesta sorpresa.jpg" class="card-img-top" alt="decoracion de baby shower">
                    <div class="card-body">
                      <h5 class="card-title">Baby shower</h5>
                      <p class="card-text">Celebra esta fecha tan especial con una decoración creativa y única. </p> 
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/card2matrimonio.png" class="card-img-top" alt="regalo de propuesta de matrimonio">
                    <div class="card-body">
                      <h5 class="card-title">Propuestas de matrimonio</h5>
                      <p class="card-text">Te ayudamos en tu propuesta de matrimonio, con carteles, cajas sorpresa y decoraciones.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/Cards1cumpleaños.jpg" class="card-img-top" alt="caja de regalo para cumpleaños">
                    <div class="card-body">
                      <h5 class="card-title">Cumpleaños</h5>
                      <p class="card-text">Celebra la vida de tus seres queridos con cajas personalizadas, carteles y ramos</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/cestas1.png" class="card-img-top" alt="cesta de regalo con dulces">
                    <div class="card-body">
                      <h5 class="card-title">San valentin</h5>
                      <p class="card-text">San valentin puede ser único con un regalo de love and gifts</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/quinceaños2.png" class="card-img-top" alt="caja sorpresa para quinceaños">
                    <div class="card-body">
                      <h5 class="card-title">Quinceaños</h5>
                      <p class="card-text">Regala un quinceaños diferente con cajas personalizadas, fiestas sorpresa y mucho más</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/dia de la madre2.png" class="card-img-top" alt="caja de regalo para el dia de la madre">
                    <div class="card-body">
                      <h5 class="card-title">Día de la madre</h5>
                      <p class="card-text">Hazlas sentir especiales en este día de las madres, regala amor con ramos, cajas sorpresa y cestas</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/dia del padre regalo.jpg" class="card-img-top" alt="caja de regalo para el dia de la madre">
                    <div class="card-body">
                      <h5 class="card-title">Día del padre</h5>
                      <p class="card-text">Los regalos mas creativos para el día del padre incluyendo cestas y cajas sorpresa</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/aniversario.jpg" class="card-img-top" alt="caja de regalo para el dia de la madre">
                    <div class="card-body">
                      <h5 class="card-title">Aniversarios</h5>
                      <p class="card-text">Sorprende a tu pareja con ramos, cajas sorpresa y todo tipo de detalles.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../assets/Multimedia/graduacion2.jpg" class="card-img-top" alt="caja de regalo para el dia de la madre">
                    <div class="card-body">
                      <h5 class="card-title">Graduaciones</h5>
                      <p class="card-text">Te ayudamos con birretes, carteles y regalos para graduaciones.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
                    
                    
               
                
            
        </div>
           
        </section>
        

    </main>
    <script src="../js/wow.min (1).js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 </body>

 <!--pie de pagina-->
 <footer class="footer">
  
  <div class="row  m-auto">
   
  <div class="div2 col-lg-4">
    <h4> Sobre nosotros</h4>
    <div class="footerNosotros ">
    <a href="../index.html#nosotros">Quiénes somos</a>
    <a href="../index.html#diferencias">Qué nos diferencia</a>
    <a href="./views/servicios.html">Servicios</a>
  </div> 
    <a href="https://www.facebook.com/" target="_blanc"><img src="../assets/Multimedia/facebook (1).png" class="logos" alt="logo de facebook"></a>
    <a href="https://www.instagram.com/" target="_blanc"><img src="../assets/Multimedia/instagram (1).png" alt="logo de instagram" class="logos"></a>
 </div>


 <div class="col-lg-4 fraseLogo">
  <h3 class=" wow animate__animated animate__pulse">"Los mejores regalos vienen del corazón"</h3>
  <img src="../assets/Multimedia/lyg vino grande.png"  alt="logo de la empresa" class="logo-footer">
 </div>


 <div class="col-lg-4">
   <h4>Contáctanos</h4>
   <div class="numero">
     <a href="https://wa.me/qr/EU3NJCSM2T3GO1" target="_blanc"><img src="../assets/Multimedia/whatsapp (1).png" class="logos" alt="logo de whatsapp"></a>
     <p>+51 901 720 323</p>
   </div>

   <div class="formulario">
     <img src="../assets/Multimedia/formulario-de-contacto (1).png" alt="">
     <a href="./views/contacto.html">Formulario de contacto</a>
   </div>

 </div>
</div>
  
</footer>
 
</html>